
.App-logo {
 
  pointer-events: none;
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img{
  width: 70px;
}

.todo{
  min-height: 550px;
  max-height: 90%;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow-y: auto;
  border-radius: 20px;
  background-color: color-mix(in srgb, transparent , black 40%);
  color: black;
  border: 1px solid black;
  overflow-x: hidden;
}
.todo h1{
  margin: 0;
}
.todo-bg{
  background-color: white;
  color: black;
  min-height: 350px;
  width: 100%;
  position: relative;
}

.todo-bg-day{
  min-height: 120px;
  width: 100%;
  background-color: transparent;
  position: relative;
}

.todo-bg-day-text{
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 20px;
  text-align: left;
  font-size: 18px;
  margin: 10px;
}
.todo-bg-day-text h2{
  padding: 0;
  margin: 0;
}
.copyright{
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 13px;
  margin-top: 10px;
  z-index: 1000;
  color: black;
  background-color: white;
}


@media screen and (max-width: 1000px) {
  
  .todo{
    color: white;
  border: 1px solid white;
  
  }
  .copyright{
    color: white;
    background-color: black;
  }
  
}

@media screen and (max-width: 500px) {
  
  .todo{
    color: white;
    border: 1px solid white;
    width: 90%;
  }
  .todo-boss{
    background-color: white;
  }
  .copyright{
    color: white;
    background-color: black;
  }
}
